---
layout: landing
---

<section id="banner">
  <div class="inner">
    <h3>{{ site.title }}</h3>
    <p1>{{ site.description | markdownify }}</p1>
  </div>
  <a href="#intro" class="more scrolly">Details</a>
</section>

<section id="details" class="wrapper style3 special">
  {% include sections/details.html %}
</section>

<section id="couple" class="wrapper alt style3">
{% include sections/couple.html %}
</section>

<section id="registry" class="wrapper style3 special">
  {% include sections/honeyfund.html %}
</section>

<section id="registry" class="wrapper style3 special">
  {% include sections/donate.html %}
</section>

<section id="todo" class="wrapper style3 special">
  {% include sections/todo.html %}
</section>