<section class="spotlight" style="background: #FFFFFF">
  <div class="image">
    <img src="images/pic1.jpg" alt="" width="20"/>
  </div>
  <div class="content">
    <h2>Hotel Information</h2>
   <p align="justify">There are 10 rooms reserved for Friday, 2/15, and Saturday, 2/16, at both the <a href="https://www.marriott.com/hotels/travel/laxpw-the-westin-pasadena/">Westin Pasadena</a>
		  (626-792-2727) and <a href="https://www3.hilton.com/en/hotels/california/hilton-pasadena-PASPHHF/index.html">Hilton Pasadena</a> (626-577-1000). 
		  The rate is $189 per night plus tax at both hotels. These rates are good until January 17th. Please inform the hotels that you are part of the Coronel/Wright 
		  wedding when you make your reservation.  A third option is the <a href="https://hotelconstance.com/">Hotel Constance</a> (626-898-7900).
		  We do not have a block of rooms but if you enter the Promo Code “YesIdo” on the website, you will receive a 15% discount off the then-prevailing rate
	   (currently the discounted rate is $173 per night).</p>


<p align="justify">The Westin, Hilton and Hotel Constance are all within a mile or so of the wedding site. 
	There are, of course, other hotel options in Pasadena, including the swanky <a href="http://www.langhamhotels.com/en/the-langham/pasadena">Langham</a> and 
	recently opened <a href="https://www.hyatt.com/en-US/hotel/california/hyatt-place-pasadena/laczp/offers">Hyatt Place</a>.</p>
  </div>
</section>

<section class="spotlight">
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <img src="images/pic2a.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em">
    <img src="images/pic2b.jpg" alt="" />
  </div>
  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-left: 1em">
    <img src="images/pic2c.jpg" alt="" />
  </div>
</section>

<section class="spotlight">
	<!-- Empty section on purpose to force next section to have image on the right -->	
</section>

<section class="spotlight" style="background: #FFFFFF">
  <div class="content">
      <div class="image">
    <img src="images/construction.gif" alt="" />
  </div>
  </div>
  <div class="image">
    <img src="images/pic3.jpg" alt="" />
  </div>
</section>

