<div class="inner">
  <header class="major">
	  <h2>Come celebrate with us!</h2>
    <p>February 16, 2019</p>
	
	 <p>Dabney Gardens<br>
	California Institute of Technology<br>
1200 East California Boulevard<br>
	  Pasadena, California 91125</p>
	
	<p>
	4:00 PM - Ceremony<br>
	4:30 PM - Cocktail Hour<br>
	5:30 PM - 10:30 PM - Reception
	</p>
	  <p>Cocktail attire is requested</p>
	
	<p><a target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&amp;tmeid=Mjl2dXBhczYzZThnNm5hcmJjZWVkM2g5NzEgc3RlcGhhbmllY29yb25lbEBt&amp;tmsrc=stephaniecoronel%40gmail.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a></p>
	
	<p>Share photos with the hashtag <strong>#CoronelWright</strong></p>
	  <hr>
  </header>
</div>
