<div class="container">
  <div><a href="https://www.raicestexas.org/"><img src="images/raices.png" alt="RAICES" width=200px /></a>
<br>
<p align="justify">
RAICES is a 501(c)(3) nonprofit agency that promotes justice by providing free and low-cost legal services to underserved immigrant children, families, and refugees.
<a href="https://www.raicestexas.org/donate/donate-in-honor-or-memory-of-someone-you-love/">Please click here to donate on our behalf.</a>
</p>
</div>


  <div><img src="images/splc.png" alt="SPLC" width=200px />
<br>
<p align="justify">Dedicated to fighting hate and bigotry and to seeking justice for the most vulnarable members of our society.
<a href="https://donate.splcenter.org/sslpage.aspx?pid=1367">Please click here to donate on our behalf.</a></p>
</p>
</div>
<div><a href="https://www.gentlebarn.org/"><img src="images/barn.png" alt="Gentle Barn" width=200px /></a>
<br>
<p align="justify">Adam and I have been vegetarian since August 2018.
This change in lifestyle occured after watching the Netflix movie Okja 
(we highly recommend you watch this movie) about a fictional farm animal called the "super pig". The Gentle Barn "rescues animals from severe abuse and neglect who are too old, sick, lame, or scared to be adopted into homes."
Among the rescues are horses, donkeys, cows, pigs, sheep, goats, turkeys, chickens, llamas, peacocks, emus, cats and dogs.
If it is financially possible, we would be thrilled if you could sponsor an animal on our behalf in lieu of a wedding gift!
<a href="https://www.gentlebarn.org/animals/?loc=ca">Click here to sponsor an animal in California for one month.</a>
Please let us know which animal you decide to sponsor :)
</p>
</div>
<div><img src="images/edf.jpg" alt="EDF" width=200px />
<p align="justify">Addressing today's most urgent environmental challenges by targeting issues that affect people around the world.
<a href="https://membership.onlineaction.org/site/Donation2?df_id=18496&18496.donation=form1">Please click here to donate on our behalf</a></p>
</div>
</div>




