<div class="inner">
  <header class="major">
    <h2>Registry</h2>

	<p>We are honored you will be a part of our special day. If you would like to send us a gift, please visit our registry or consider donating on our behalf.</p>

	<p><a href="https://www.crateandbarrel.com/gift-registry/stephanie-coronel/r5932051">Crate & Barrel Registry</a></p> 

	<p><a href="https://www.amazon.com/wedding/stephanie-coronel-adam-wright-pasadena-february-2019/registry/1XQRBW9TB5WS1">Amazon Registry</a></p>
	  
	<p><a href="https://donate.animalplace.org/campaign/rescue-medical-fund-2018/c214262">Please donate in our honor to the Animal Place!</a></p>
  </header>
</div>
