<section class="spotlight" style="background: #FFFFFF">

 <div class="row">
  <div class="column"><img src="images/raices.png" alt="RAICES" /> a</div>
  <div class="column"><img src="images/raices.png" alt="RAICES" /> b</div>
  <div class="column">c</div>
  <div class="column">d</div>
</div> 

  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <a target="_blank" href="raices.png"> <img src="images/raices.png" alt="RAICES" /> </a>
  </div>
<div class="content">
blah blah
  </div>

  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <a target="_blank" href="splc.png"> <img src="images/splc.png" alt="SPLC" /> </a>
  </div>

  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <a target="_blank" href="barn.png"> <img src="images/barn.png" alt="Gentle Barn" /> </a>
  </div>

  <div class="image" style="padding-top: 2em; padding-bottom: 2em; padding-right: 1em; padding-left: 1em; margin-right: 1em">
    <a target="_blank" href="edf.jpg"> <img src="images/edf.jpg" alt="EDF" /> </a>
  </div>
</section>