
<div class="inner">

<header class="major">

<h2>Exploring LA</h2>

<p align="justify">For our out-of-town guests (or locals looking for an excuse to act like a tourist for a day), below are a few of our favorite places to spend a few hours, an afternoon or an entire day if you’re so inclined!  And, given LA’s temperate climate, nothing will be off-limits in mid-February.</p>

<p align="justify">Getty Museum (http://www.getty.edu/museum/) - good art and even better architecture and views.  Between 45 to 60 minutes from Pasadena, depending on traffic.</p>

<p align="justify">Getty Villa (http://www.getty.edu/visit/villa/) - the commute from Pasadena can be well over an hour in bad conditions, but well worth the trip if you have the time.  This is our favorite museum in LA; the architecture and classical art / sculpture collection are without equal.</p>

<p align="justify">Huntington Gardens & Library (https://www.huntington.org/) - another favorite of ours and only a mile or so from the wedding site.  Explore gardens representative of such far-flung lands as China, Japan, Australia and…California?  The Huntington Library also boasts one of the world’s largest collections of early manuscripts, including the Gutenberg Bible and works by Chaucer and Shakespeare, if you’re into that sort of thing, which one of us is.</p>

<p align="justify">Norton Simon Museum (https://www.nortonsimon.org/) - another Pasadena mainstay.  One of the best collections of impressionist art west of the Mississippi and a wonderful (if small, compared to the Huntington Gardens and Arboretum) garden to boot.</p>

<p align="justify">The Arboretum (https://www.arboretum.org/) - about 5 miles east of Pasadena, this was originally going to be our wedding site until we discovered they only hold weddings from April to October.  The gardens are not quite as impressive as the Huntington Gardens, but the cost is less than a third of Huntington and you will see countless peacocks roaming the grounds.</p>

<p align="justify">Griffith Park (https://www.laparks.org/griffithpark) - our favorite place to hike, located in the heart of LA.  There are numerous trails which, on a clear day, offer views of downtown, the San Fernando Valley and the Pacific. There is also the world-class Griffith Observatory, where we had one of our early dates.</p>

<p align="justify">Eaton Canyon (https://www.ecnca.org/) - just north of Pasadena, this offers great views of Pasadena and you can also see the Pacific from the top of the trail on a clear day.  The main trail is somewhat longer and more demanding than Griffith Park.</p>

<p align="justify">If you need some nourishment before or after all your sightseeing / hiking, we recommend the following:</p>

Cacao Mexicatessen (http://cacaodeli.com/) - delicious taqueria in Eagle Rock.  If you go for breakfast, you must try either the breakfast burrito or the tres leches pancakes, or both!

Lincoln (https://lincolnpasadena.com/) - another of our go-to breakfast spots, about five miles northwest of downtown Pasadena.  You can’t go wrong with the breakfast burrito here, either.

p.y.t. (http://www.pytlosangeles.com/welcome) - for any other vegetarians out there (while we’re on the subject, n.b., we recently ‘converted’ to vegetarianism, so no meat will be served at the wedding; but we were blown away by the vegetarian dishes that will be served and hope you will be, too) this is worth the trip to downtown LA.  Try the tomato tart and Green Piri-Piri Rice.  Shamone!  Hee Hee!

KazuNori (https://www.kazunorisushi.com/) - back when we were still carnivore-ing it up, this was our number one destination for a cheap, relatively quick and delicious meal.  Our suggestion: go with the 5-hand roll set menu and sub-in salmon for the bay scallop. 


</header>

</div>

